huggingface_hub==0.23.0
pandas==2.2.2
python-dotenv==1.0.1
datasets==2.20.0
langchain-community==0.2.6
langchain==0.2.6
pgvector==0.2.5
psycopg2-binary==2.9.9
sentence-transformers==3.0.1
langchain-groq==0.1.6
streamlit==1.36.0
sqlalchemy==2.0.30
